.main-container {
  padding-top: 100px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.footer {
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
}

html {
  position: relative;
  min-height: 100%;
}

input,
select,
textarea {
  max-width: 400px;
}
